* {
	/* box-sizing: border-box; */
	/* font-family: "Eagle Lake", serif;
	--font-weight: 400;
	--font-size: 20px; */

  /* font-family: "Roboto", sans-serif;
	--font-weight: 400;
	--font-size: 24px; */

  /* font-family: "Eczar", serif;
	--font-weight: 400;
	--font-size: 22px; */

  /* font-family: "Lancelot", serif;
	--font-weight: 500;
	--font-size: 26px; */

  /* MedievalSharp, Benne, */ 
  /* --font-family: "Oswald", sans-serif; */
}


/* Register your custom font family and tell the browser where to find it. */
/* @font-face {
	font-family: 'Uncial';
	src: url('https://fonts.gstatic.com/s/uncialantiqua/v20/N0bM2S5WOex4OUbESzoESK-i-MfWQZQ.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
} 

@font-face {
	font-family: 'GothicLight';
	src: url('https://fonts.gstatic.com/s/medievalsharp/v26/EvOJzAlL3oU5AQl2mP5KdgptMqhwMg.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}  */

.dinkus::after {
	content: "";
	background-image: url('/assets/dinkus_black_2_alpha.png');
	height: 100px;
	background-size: contain;
	background-position: center;
	display: block;
}

.hug-down{
	margin-bottom: 0px !important;
}
.hug-up{
	margin-top: 40px !important;
}
.push-down{
  margin-top: 80px !important;
}

.round img {
  border-radius: 20px;
}

.centered {
  text-align: center;
  /* text-shadow: 3px 3px 2px rgba(253, 253, 252, 0.705); */
}

.card-simple {
	border: var(--border-width) solid var(--card-border-color);
	box-shadow: var(--card-box-shadow);
	border-radius: var(--border-radius);
	margin: var(--block-spacing-vertical) 0;
	background: var(--card-background-color);
	padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
	/* padding: var(--grid-spacing-horizontal) var(--block-spacing-horizontal); */
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;

	/* >.photo {
		background-size: cover;
		background-position: center;
		align-self:center;
		border-radius: 10px;
	}
	.height-3{
		height: 55dvw;
	}
	.height-2{
		height: 40dvw;
	}
	.height-1{
		height: 25dvw;
	} 
	
	*/

  & div>img {
    min-height: 400px;
    object-fit:cover;
    overflow: hidden;
    /* padding: 80px 80px; */
  }

	.flex-4 {
		flex: 4;
	}
	.flex-3 {
		flex: 3;
	}
	.flex-2 {
		flex: 2;
	}
	.flex-1 {
		flex: 1;
	}
}

.reverse,
.toggle:nth-child(odd) {
	flex-direction: row-reverse;
}

/* Responsive styles for smaller screens */
@media (width < 768px) {
	.card-simple {
		flex-direction: column;
		gap:unset;
		>.photo {
			padding: 100px;
		}

    & div>img {
      min-height:unset;
      max-height: 300px;
    }
  
	}

	.card-simple:nth-child(odd) {
		flex-direction: column;
	}

}