---
import Layout from '../layouts/BlogPost.astro';
import { type Pic, mapAsset, type Post } from "../consts";
import { sanityClient } from 'sanity:client';

const pics : Pic[]  = await sanityClient.fetch(`
		*[_type == "pic"]{
      ...,
      "imageUrl": pic.asset->url
    }
	`);

type PicMap = {bio_brent_3: Pic};

const picMap = mapAsset(pics) as PicMap;

---

<Layout
	title="About Me"
	pubDate={new Date('November 11 2023')}
	mainImage={picMap.bio_brent_3.pic}
>
  <div class="dinkus">
	<p>
		I am a father of four, and married to my wife and true love since 1996.  Thereafter, my life has two paths...
	</p>
	<p>	
		By profession I am a software technologist, a 1997 C.S. graduate from UNM, running my own software consultancy 
	 	since 2006.  
		I have had technical oversight of thousands of engineers, leading both small teams and large organizations to 
		success.  Even as a consultant, I have served as CTO in several organizations.
	</p>
	<p>
		As a spiritual background, I was originally Catholic.  Though having gone my own way from Catholicism, starting from 
		somewhere between 2007 through 2015 depending on how my story is reckoned, I still hold great admiration for both
		Christianity/Catholicism and the power of its message.  Ironically, since then, I feel my respect for Christ has simply 
		continued to grow.  Perhaps to oversimplify, I "left" because it was time for me to begin my own personal "journey
		in the desert" - a transformation into who I really am, and likewise a discovery of the legacy I intend to create.
	</p>
	<p>
		In gratitude of my many blessings, including the terrible challenges I've faced and overcome, I made spiritual
		awakening and spirit-aligned community my present-day passion.  This new journey has included a variety of 
		self-transformational steps:
		I am a graduate of PSI seminars. I founded a "Men's Council", where men sharpen themselves. I have received the 
		blessings of plant-medicine (viz. psychadelics) and animal-medicine (viz. Kambo) ceremonies.  I have started on the 
		path of becoming a musician.  Also, together with my wife, I had sold all that I owned along with my
		Arizona home, and moved my family to Mexico City - arriving with only suitcases - despite having never been to 
		Mexico previously in my life.  All has become new, and full of wonder, as I step into this new phase.
	</p>
	<p>
		My adventure has only just begun.  And I am, and remain, open to all that the divine leads me to.  I want you, reader,
		to come with me.  That we may...awaken together.
	</p>
	<cite>-Brent Arias</cite>
  </div>

  <div class="push-down">
    <div>
      <h3>Schedule a talk?</h3>
      <p>If you'd like to have a zoom or google chat, put something on my calendar.</p>
    </div>
    <div id="tidycal-embed" class="tidycal-embed" data-path="sovereignty/30-minute-meeting"></div>
    <script src="https://assets.tidycal.com/js/embed.js" defer></script>


    <!-- <a href="https://tidycal.com/sovereignty/30-minute-meeting" target="_blank" class="button">Open Booking Page</a>     -->

    <!-- Acuity is great, but costs ~$18/month -->
    <!-- <iframe src="https://app.acuityscheduling.com/schedule.php?owner=30815295" title="Schedule Appointment" width="100%" height="800"></iframe>
    <script src="https://embed.acuityscheduling.com/js/embed.js" type="text/javascript"></script>     -->
    
  </div>
</Layout>

<style>
  .button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      background-color: #007bff; /* Button background color */
      color: #fff; /* Button text color */
      border: none;
      border-radius: 5px;
  }

  .button:hover {
      background-color: #0056b3; /* Darker background color on hover */
  }  
</style>