---
import HeaderLink from './HeaderLink.astro';
import NavBurger from '../components/NavBurger.astro';
import { SITE_TITLE } from '../consts';
---

<nav class="container">
	<ul>
		<li class="logo"><a href="/">{SITE_TITLE}</a></li>
	</ul>
	<input class="menu-btn" type="checkbox" id="menu-btn" />
	<label class="menu-icon" for="menu-btn">
		<span class="nav-icon" style="font-size: 1.6em">&#x2261;</span>
	</label>
	<ul class="menu">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/journeys">Journeys</HeaderLink>
		<HeaderLink href="/faq">F.A.Q.</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>	
		<HeaderLink href="/about">About</HeaderLink>	
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>

		<!-- <li class="item button"><a href="#">Login</a></li>
		<li class="item button secondary"><a href="#">Sign Up</a></li> -->
	</ul>
</nav>
<div class="menu-gap">
</div>

<header>
	<!-- {SITE_TITLE} -->
	<!-- <h2>
	</h2> -->
</header>

<style>
	body>header {
		/* usefule when "position: fixed" is turned-on */
		padding-top: 80px;
		padding-bottom: 180px;
		background-size: cover;
		background-position: center;
		background-image: url("https://yt3.googleusercontent.com/qKyoPFlSWaGqYhFaNeOQoMgtep7DTNEzRqv--tUruQ_8MmEfoue8p0zcCpIYUgoQHxHU7a1v3Q=w2120-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj");
	}

	div.menu-gap {
		padding-top: 80px;
	}

	/* h2 {
		background-image: "https://yt3.googleusercontent.com/qKyoPFlSWaGqYhFaNeOQoMgtep7DTNEzRqv--tUruQ_8MmEfoue8p0zcCpIYUgoQHxHU7a1v3Q=w2120-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj";
	} */

	nav.container {
		background-color: var(--background-color);
		position: fixed;
		z-index: 1;
		overflow: hidden;
		align-items: center;
	}

	nav :is(.menu-btn, .menu-icon) {
		display: none;
		cursor: pointer;
		user-select: none;
	}

	
@media (width < 48em) {
	nav.container {
		flex-wrap: wrap;
		& .menu-icon {
			display:block;
		}
		& .menu-btn:checked ~ .menu {
			max-height: 100vh;
		}

		& >ul.menu {
			flex-direction: column;
			align-items:flex-start;
			width: 100%;
			max-height: 0;
			transition: max-height 0.3s ease-out;
			box-shadow: 0px 3px 8px;
			margin: 10px 10px;
			& :global(li) {
				width: 100%;
			}
			& :global(a) {
				display: block;
			}
			& :global(a:hover) {
				background-color: var(--secondary-hover);
			}
		}
	}
}


</style>
