---
import HeaderLink from './HeaderLink.astro';
import NavBurger from '../components/NavBurger.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon/components'

import { type Pic, mapAsset } from "../consts";
import { sanityClient } from 'sanity:client';

const pics : Pic[]  = await sanityClient.fetch(`
		*[_type == "pic"]{
      ...,
      "imageUrl": pic.asset->url
    }
	`);

type PicMap = {hero_banner: Pic};

const picMap = mapAsset(pics) as PicMap;
// Embedding the CSS 'url' function directly in the CSS variable
// is necessary, or this will not work.
const heroBanner = `url(${picMap.hero_banner.imageUrl})`;
---
<div class="menubar container">
  <center>
    <a title="Youtube" rel="external" target="_blank" href="https://youtube.com/@SoulSovereignty-Salt/videos">
      <Icon name="youtube" />
    </a>
    <a title="Rumble" rel="external" target="_blank" href="#">
      <Icon name="rumble" />
    </a>
    <a title="Locals" rel="external" target="_blank" href="https://soulsovereignty.locals.com/">
      <Icon name="locals" />
    </a>
    <a title="TikTok" rel="external" target="_blank" href="#">
      <Icon name="tiktok" />
    </a>
    <a title="Facebook" rel="external" target="_blank" href="https://www.facebook.com/profile.php?id=100083325167088">
      <Icon name="facebook" />
    </a>
  </center>

  <nav>
    <ul>
      <li class="logo"><a href="/">{SITE_TITLE}</a></li>
    </ul>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
      <span class="nav-icon" style="font-size: 1.6em">&#x2261;</span>
    </label>
    <ul class="menu">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/journeys">Journeys</HeaderLink>
      <HeaderLink href="/faq">F.A.Q.</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </ul>
  </nav>
</div>

<div class="menu-gap">
</div>

<header style={{ '--heroBanner': heroBanner }} >
	<!-- {SITE_TITLE} -->
	<!-- <h2>
	</h2> -->
</header>

<style>

  [data-icon] {
    font-size: 2em;
  }

  [data-icon]:hover {
    /* 
    This selector is part of astro-icon documentation: 
    https://www.astroicon.dev/guides/styling/ 
    In part this approach is needed, because astro-icon seems
    to strip out or otherwise manipulate the svg tag attributes.
    Also, normal SVG manipulation presumes the 'fill' directive
    for color, but astro-icon instead uses 'color'.  
    */
    color: goldenrod;
    transition: color 0.4s ease;
  }

	body>header {
		/* usefule when "position: fixed" is turned-on */
		padding-top: 80px;
		padding-bottom: 180px;
		background-size: cover;
		background-position: center;
		background-image: var(--heroBanner);
	}

	div.menu-gap {
		padding-top: 80px;
	}

  .menubar {
		background-color: var(--background-color);
    /* with a non-inline position configured, the sense
       of width is lost, and thus must be specified explicity.
       Do this either with the a width property, or pairing
       with the pico CSS `container` class */
		position: fixed;
		z-index: 1;

		overflow: hidden;
  }

	nav {
		align-items: center;
	}

	nav :is(.menu-btn, .menu-icon) {
		display: none;
		cursor: pointer;
		user-select: none;
	}


@media (width < 48em) {
	nav {
		flex-wrap: wrap;
		& .menu-icon {
			display:block;
		}
		& .menu-btn:checked ~ .menu {
			max-height: 100vh;
		}

		& >ul.menu {
			flex-direction: column;
			align-items:flex-start;
			width: 100%;
			max-height: 0;
			transition: max-height 0.3s ease-out;
			box-shadow: 0px 3px 8px;
			margin: 10px 10px;
			& :global(li) {
				width: 100%;
			}
			& :global(a) {
				display: block;
			}
			& :global(a:hover) {
				background-color: var(--secondary-hover);
			}
		}
	}
}


</style>
